.another-orbit {
  max-width: 100vw;
  position : absolute;
  transform: rotate(-2deg);
}
.big-planet {
  bottom   : -150px;
  left     : -50px;
  max-width: 300px;
  position : absolute;
}
.colmed-dot-planet {
  max-width: 60px;
  position : absolute;
  right    : 15%;
  top      : 10%;
}
.colmed-planet {
  bottom   : 10vh;
  max-width: 10vw;
  position : absolute;
  right    : 35vw;
}
.gsp-dot-planet {
  bottom: 15%;
  filter: blur(5px);
  max-width: 60px;
  position: absolute;
  right: 10%;
}
.gsp-random-planet {
  bottom: -10%;
  left: -5%;
  max-width: 30%;
  position: absolute;
  transform: rotate(-30deg);
}
.orbit {
  max-width: 100vw;
  position : absolute;
  transform: rotate(15deg);
  z-index  : -1;
}
.procaps-dot-planet {
  max-width: 50px;
  position : absolute;
  right    : 10vh;
  top      : 30vh;
}
.procaps-planet {
  filter   : blur(7.5px);
  left     : 15vh;
  max-width: 250px;
  position : absolute;
  top      : 15vh;
}
.transito-dot-planet {
  filter: blur(10px);
  max-width: 10%;
  position: absolute;
  right: 10vw;
  top: 10vh;
}
.transito-orbit {
  max-width: 100vw;
  position: absolute;
}
.transito-random-planet {
  position: absolute;
}
.transmetro-planet {
  max-width: 250px;
  position : absolute;
  right    : 10vh;
  top      : 10vh;
}
.transmetro-dot-planet {
  bottom   : 10vh;
  filter   : blur(5px);
  max-width: 100px;
  position : absolute;
}