.simple-text {
  color: #434244;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.index__main-content,
.what-we-do__main-content {
  margin-left: 140px;
}
.what-we-do__services {
  display: flex;
  height: 100%;
  position: relative;
}
.what-we-do__services .item {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-width: 900px;
  position: relative;
  width: 100%;
}
.what-we-do__services .item-description {
  margin-left: 50px;
}
.what-we-do__services .item .ui-ux {
  position: relative;
}
.what-we-do__services .item .ui-ux img {
  width: 100%;
}
.what-we-do__services .item h5.title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.33px;
  line-height: 36px;
  margin-bottom: 15px;
}
.what-we-do__services .item .content {
  color: #434244;
  font-size: 20px;
  letter-spacing: .67px;
  line-height: 37px;
}
.what-we-do__services .item:nth-of-type(1) .item-description > div,
.what-we-do__services .item:nth-of-type(4) .item-description > div {
  max-width: 270px;
}
.what-we-do__services .item:nth-of-type(2) .item-description > div {
  max-width: 310px;
}
.what-we-do__services .item:nth-of-type(3) .item-description > div {
  max-width: 290px;
}
.what-we-do__services .item:nth-of-type(5) .item-description > div {
  max-width: 350px;
}
.what-we-do__header {
  align-items: flex-end;
  display: flex;
}
.v-align-top {
  top: -20%;
}
.v-align-bottom {
  top: 20%;
}